<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vitalii Kuznetcov</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <header class="container text-center">
      <div class="row">
        <div class="col">
          <h1>Vitalii Kuznetcov</h1>
          <h2>Full Stack Developer</h2>
        </div>
        <div class="col">
          <h5><a href="mailto:greedy.jabberwock@gmail.com">greedy.jabberwock@gmail.com</a></h5>
          <h5>(972) 055-289-8102</h5>
          <br>
          <h5><a href="https://github.com/Greedy-Jabberwock/">Github</a></h5>
          <h5><a href="https://www.linkedin.com/in/vitalii-kuznetcov-0bab4b20b/">LinkedIn</a></h5>
        </div>
      </div>
    </header>
      <main>
        <section class="text-center">
          <div id="skills" class="container text-center">

            <div class="row">
              <div class="col">
                <h3>Skills</h3>
              </div>

              <div class="col d-flex justify-content-around">
                <div class="d-flex flex-column justify-content-center">
                  <h4>Backend</h4>
                  <p>Some text</p>
                </div>

                <div class="d-flex flex-column justify-content-center">
                  <h4>Frontend</h4>
                  <p>Some text</p>
                </div>

                <div class="d-flex flex-column justify-content-center">
                  <h4>Databases</h4>
                  <p>Some text</p>
                </div>
              </div>
            </div>

          </div>
          <div id="technical" class="container text-center">
            <div class="row">
              <div class="col">
                <h3>Technical</h3>
              </div>
              <div class="col">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Python</td>
                      <td>HTML5</td>
                      <td>Bootstrap</td>
                    </tr>
                    <tr>
                      <td>Flask</td>
                      <td>CSS</td>
                      <td>Jinja</td>
                    </tr>
                    <tr>
                      <td>PostgreSQL</td>
                      <td>JavaScript</td>
                      <td>Heroku</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="work" class="container text-center">
            <div class="row">
              <div class="col">
                <h3>Work</h3>
              </div>
              <div class="col">
                <p>Have no real working experience in high-tech yet.</p>
              </div>
            </div>
          </div>
          <div id="education" class="container text-center">
            <div class="row">
              <div class="col">
                <h3>Education</h3>
              </div>
              <div class="col">
                <table>
                  <tr>
                    <td>
                      <p>Developers.Institute - Tel Aviv, Israel</p>
                      <p>Full-Stack Python</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Developers.Institute - Tel Aviv, Israel</p>
                      <p>Full-Stack Python</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Developers.Institute - Tel Aviv, Israel</p>
                      <p>Full-Stack Python</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>
      </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>