<!DOCTYPE html>
<html>
<head>
  <title>Vitalii Kuznecov</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <main>
        <div class="grid-container">

            <section class="header bb">
                <div>
                    <img id="photo" src="{{url_for('static', filename='img/me.jpg')}}" alt=""></div>
                <div>
                    <h1 class="italic">Vitalii Kuznecov</h1>
                    <p class="italic">FullStack Developer</p>
                    <p class="info"><span>Ashdod, Israel</span><span> | </span><span>055-289-8102</span></p>
                </div>
                <div class="link">
                  <ul>
                      <li><a href="mailto:greedy.jabberwock@gmail.com"><img class="icons" src="{{url_for('static', filename='img/mail.png')}}" alt=""></a></li>
                      <li><a href="https://github.com/Greedy-Jabberwock"><img class="icons" src="{{url_for('static', filename='img/git.png')}}" alt=""></a></li>
                      <li><a href="https://www.linkedin.com/in/vitalii-kuznetcov-0bab4b20b/"><img class="icons" src="{{url_for('static', filename='img/linkedin.png')}}" alt=""></a></li>
                  </ul>
                </div>
            </section>
            <section class="skill sec_title italic bold bb">Skills</section>
            <section class="skills_content bb">
                <table>
                    <tr>
                        <td>
                            <h4>Backend</h4>
                            <p>Have experience with Python, Flask framework with extentions - Bcrypt, SQLAlchemy, Migrate, Login</p>
                        </td>
                        <td>
                            <h4>Frontend</h4>
                            <p>Know HTML5 tags and Bootstrap, CSS. Have experience in using JavaScript to interact with DOM.</p>
                        </td>
                        <td>
                            <h4>Database</h4>
                            <p>Have relevant knowledge about relative databases and DBMS, like PostgreSQL and MySQL.</p>
                        </td>
                    </tr>
                </table>
            </section>

            <section class="tech sec_title italic bold bb">Technical</section>
            <section class="tech_content bb">
                <table>
                    <tr>
                        <td>Python</td>
                        <td>HTML5</td>
                        <td>PostgreSQL</td>
                    </tr>
                    <tr>
                        <td>Flask</td>
                        <td>CSS</td>
                        <td>MySQL</td>
                    </tr>
                    <tr>
                        <td>Jinja</td>
                        <td>JavaScript</td>
                        <td>SQLAlchemy</td>
                    </tr>
                </table>
            </section>

            <section class="education sec_title italic bold bb">Education</section>
            <section class="educ_cont bb">
                <ul class="align">
                    <li>
                        <p class="ed_title">Full Stack Web Development, Python and JavaScript program  </p>
                        <p class="ed_inst italic">Developers Institute, TLV Coding Bootcamp</p>
                    </li>
                    <li>
                        <p class="ed_title">Java and Android Development</p>
                        <p class="ed_inst italic">MASA, Ayanot</p>
                    </li>
                    <li>
                        <p class="ed_title">Information technology and information security (not completed)</p>
                        <p class="ed_inst italic">“Synergy” University, Moscow, Russia</p>
                    </li>
                </ul>
            </section>

            <section class="working sec_title italic bold bb">Work</section>
            <section class="work_cont bb"><p class="align">Haven't the work experience yet.</p></section>

            <section class="languages sec_title italic bold bb">Language</section>
            <section class="lang_cont bb">
                <div class="align"><span class="bold">English</span><span> – intermediate</span></div>
                <div class="align"><span class="bold">Hebrew</span><span></span> – fluently</div>
                <div class="align"><span class="bold">Russian</span><span> – native</span></div>
            </section>

            <section class="portfolio sec_title italic bold bb">Projects</section>
            <section class="port_cont bb">
                <div>

                    <div>
                        <p>Landing page</p>
                        <img src="{{url_for('static', filename='img/landing.jpg')}}" alt="">
                    </div>
                    <div>
                        <p>Landing page</p>
                        <img src="{{url_for('static', filename='img/land2.jpg')}}" alt="">
                    </div>
                    <div>
                        <p>To-Do list</p>
                        <img src="{{url_for('static', filename='img/todo.jpg')}}" alt="">
                    </div>
                    <div>
                        <p>CryptOS</p>
                        <img src="{{url_for('static', filename='img/cryptos.jpg')}}" alt="">
                    </div>

                    <div>
                        <p>Login page</p>
                        <img src="{{url_for('static', filename='img/login.jpg')}}" alt="">
                    </div>
                    <div>
                        <p>Marketplace</p>
                        <img src="{{url_for('static', filename='img/market.jpg')}}" alt="">
                    </div>
                    <div>
                        <p>Painting page</p>
                        <img src="{{url_for('static', filename='img/paint.jpg')}}" alt="">
                    </div>
                    <div>
                        <p>Conway's Game of Life</p>
                        <img src="{{url_for('static', filename='img/conway.jpg')}}" alt="">
                    </div>

                    <div>
                        <p>Guess Code Game</p>
                        <img src="{{url_for('static', filename='img/codegame.jpg')}}" alt="">
                    </div>
                    <div>
                        <p>AudioBooks</p>
                        <img src="{{url_for('static', filename='img/audiobooks.jpg')}}" alt="">
                    </div>

                </div>
            </section>

<!--            <section class="foot">-->
<!--                <div>-->
<!--                    <p>Made by Vitalii Kuznecov in 2022</p>-->
<!--                    <p>-->
<!--                        <a href="mailto:greedy.jabberwock@gmail.com"><img class="icons" src="{{url_for('static', filename='img/mail.png')}}" alt=""></a>-->
<!--                        <a href="https://github.com/Greedy-Jabberwock"><img class="icons" src="{{url_for('static', filename='img/git.png')}}" alt=""></a>-->
<!--                        <a href="https://www.linkedin.com/in/vitalii-kuznetcov-0bab4b20b/"><img class="icons" src="{{url_for('static', filename='img/linkedin.png')}}" alt=""></a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </section>-->

        </div>
    </main>
</body>
</html>