<!DOCTYPE html>
<html>
<head>

	<title>Vitalii Kuznetcov | Full-Stack Python | greedy.jabberwock@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='resume.css')}}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Kuznetcov Vitalii</h1>
					<h2>Full-Stack Python Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">

					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b" style="margin-bottom:0;padding-bottom:0">


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u" style="padding-left:20px">

								<div class="talent">
									<h2>Frontend</h2>
									<p>Hackaton was written on JavaScript</p>
								</div>

								<div class="talent">
									<h2>Backend</h2>
									<p>Have a couple projects on Flask.</p>

								</div>

								<div class="talent">
									<h2>Databases</h2>
									<p>Know how to use PostgeSQL.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u"  style="padding-left:20px">
							<ul class="talent">
								<li>Python</li>
								<li>Flask</li>
								<li class="last">PostgreSQL</li>
							</ul>

							<ul class="talent">
								<li>HTML</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Bootstrap</li>
								<li>Jinja</li>
								<li class="last">Heroku</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->
					<div class="yui-gf last">
	
						<div class="yui-u first" >
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u" style="padding-left:20px">

							<div class="job last">
								<h2>Have no real working experience in high-tech yet.</h2>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u" style="padding-left:20px">
							<h2>Developers.Institute - Tel Aviv, Israel</h2>
							<h3>Full-Stack Python</h3>
							<br>
						</div>
						<div class="yui-u">
							<h2>MASA Java&Android - Ayanot, Israel</h2>
							<h3>Java and Android development</h3>
							<br>
						</div>
						<div class="yui-u">
							<h2>'Synergy' University - Moscow, Russian Federation</h2>
							<h3>Information Security Specialist</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Vitalii Kuznetcov &mdash; <a href="mailto:greedy.jabberwock@gmail.com">greedy.jabberwock@gmail.com</a> &mdash; (972) 055-289-8102</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

